#corpo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 43, 43);
  padding: 10px;
}
#corpo h1 {
  color: rgb(201, 148, 2);
  text-align: left;
  font-size: 40pt;
  text-shadow: 3px 3px 5px black;
  margin-bottom: 15px;
}
body.dark #corpo h1 {
  text-shadow: 3px 3px 5px rgb(114, 114, 114);
}
#corpo p {
  color: rgba(255, 255, 255, 0.671);
  padding: 10px;
}
body.dark #corpo p {
  color: rgb(29, 29, 29);
}
#corpo ul {
  color: rgba(255, 255, 255, 0.671);
  margin-left: 30px;
}
body.dark #corpo ul {
  color: #292929;
}
#corpo ul li {
  padding: 5px 10px;
  margin-left: 20px;
}
#corpo ul li b {
  color: rgb(201, 148, 2);
}
#corpo #conteudo {
  display: block;
  width: 64%;
  float: left;
  padding-right: 15px;
  text-align: justify;
}
#corpo img {
  display: block;
  width: 20%;
  float: right;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
}
#rodape {
  clear: both;
}
#corpo b a {
  color: rgb(201, 148, 2);
}
#corpo b a:hover {
  color: rgb(255, 195, 29);
  text-decoration: underline;
}
